body    {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}


canvas{
    border: #fff solid 2px;
}

.score_container{
    display: flex;
    justify-content: space-between;
    width: 420px;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
}


#restartButton{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
}


#gameOverScreen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   background-color: #000;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}